@font-face {
    font-family: 'ROBOTO';
    font-style: normal;
    src: url('./src/assets/fonts/Roboto-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'ROBOTO';
    font-weight: bold;
    src: url('/src/assets/fonts/Roboto-Bold.ttf') format('truetype')
}

@font-face {
    font-family: 'ROBOTO';
    font-style: italic;
    src: url('/src/assets/fonts/Roboto-Italic.ttf') format('truetype')
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url("/src/assets/fonts/roboto.woff2") format("woff2");
}

@font-face {
    font-family: 'Arial';
    font-style: normal;
    src: url('/src/assets/fonts/arial/arial.ttf') format('truetype')
}


html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'ROBOTO', sans-serif;
    margin: 0;
    background-color: #fafafa;
    overflow: hidden;
    border: 1px solid #2196f3;
    box-shadow: 0 4px 6px 0 rgba(32, 33, 36, 0.28);;
}

.material-icons {
    font-family: 'Material Icons', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
